<!--The content below is only a placeholder and can be replaced.-->
<div class="container" style="text-align:center">
  <div class="row">
    <div class="col-xs-12" *ngIf="pageToShow === 'Accueil'">
      
      <h2>{{ titleAccueil }} </h2>
      <p>Bienvenue sur ce blog</p>

      <button 
            class="btn btn-success" 
            (click)="onBlog()">Afficher le blog</button>
    </div>
    <div class="col-xs-12" *ngIf="pageToShow === 'Blog'">
      Posts
      <app-my-blog></app-my-blog>
    </div>
  </div>
</div>

